.nav-wrapper {
  padding: 0 2rem;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.card {
  padding: 10px 0;
}

.price {
  font-size: 2rem;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

/* .course img {
} */
